@model DavisSoftware.Models.BlogArticleModel
@{
    ViewData["title"] = "New title";
    Layout = DavisSoftware.Constants.Views.Layouts.Main;
}
<article>
    <h1>@Model.Heading</h1>
    <h4>@Model.DateTime.ToShortDateString()</h4>
    <div>
        @Html.Raw(Model.Content)
    </div>
</article>