<footer class="content-wrapper">
    <section class="footer-icons">
        <a href="https://github.com/pdavis86" target="_blank">
            <img src="~/Content/images/icons/github.svg" alt="" />
        </a>
        <a href="https://www.linkedin.com/in/paulricharddavis" target="_blank">
            <img src="~/Content/images/icons/linkedin.svg" alt="" />
        </a>
    </section>
</footer>