<nav class="site-navigation">
    <ul class="u-list-reset">
        <li><a href="#">Experience</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Personal</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>