@model DavisSoftware.Models.ProgressBarModel

<div class="progress-bar">
    <div class="progress-bar-topic">@Model.Topic</div>
    <div class="progress-bar-progress">
        <span class="width: @(Model.Percentage)%"></span>
    </div>
</div>