@{
    Layout = DavisSoftware.Constants.Views.Layouts.Main;
}
<section class="hero-banner">
    <h1>Paul Davis</h1>
    <img src="~/Content/images/PaulDavis.jpg" alt="Paul Davis" />
    <p>Over 10 years of professional experience, spanning roles in development, customer service and project management.</p>
</section>

<section>
    <h2>Freelance Web Site Projects</h2>
    <p>The source code for these can be found on <a href="https://github.com/pdavis86" target="_blank">GitHub</a></p>
    <ul>
        <li>2015-01 Total-Interior.co.uk</li>
        <li>2009-07 PicklesPlayCare.co.uk</li>
        <li>2004-09 BrewersFurniture.co.uk</li>
        <li>2003-01 OakInteriors.co.uk</li>
    </ul>
</section>

<section>
    <h2>Examples of closed-source work</h2>
    <ul>
        <li>Various EpiServer CMS managed web sites</li>
        <li>Various Umbraco CMS managed web sites</li>
        <li>Web Api projects</li>
        <li>An entirely bespoke database infrastructure to support the <a href="https://www.prospectsoft.com/" target="_blank">Prospect 365</a> platform</li>
        <li>Bespoke .Net WinForms software</li>
        <li>SQL query writing and optimisation</li>
        <li>MS Office integration debugging apps</li>
        <li>Exchequer COM Toolkit usage debugging apps</li>
    </ul>
</section>

@*<section>
    <h2>Personal Development</h2>
    @Html.Partial(DavisSoftware.Constants.Views.Partials.Molecules.ProgressBar, new DavisSoftware.Models.ProgressBarModel("Climbing", 20))
    @Html.Partial(DavisSoftware.Constants.Views.Partials.Molecules.ProgressBar, new DavisSoftware.Models.ProgressBarModel("Running", 30))
    @Html.Partial(DavisSoftware.Constants.Views.Partials.Molecules.ProgressBar, new DavisSoftware.Models.ProgressBarModel("Ice Skating", 40))
</section>*@
